In [1]:
import numpy as np
import pandas as pd

In [130]:
data_path = 'data\ML25M\BPR_cv\BPR_ivec_0.npy'
item = np.load(data_path)
zero_embeddings = np.all(item == 0, axis=1)
if np.any(zero_embeddings):
    print(np.where(zero_embeddings == True))
    print(f"0으로만 채워진 임베딩 벡터가 {np.sum(zero_embeddings)}개 있습니다.")
else:
    print("0으로만 채워진 임베딩 벡터가 없습니다.")


data_path = 'data/ML25M/mv-tag-emb.npy'
tag = np.load(data_path)
zero_embeddings = np.all(tag == 0, axis=1)

if np.any(zero_embeddings):
    print(zero_embeddings.index(True))
    print(f"0으로만 채워진 임베딩 벡터가 {np.sum(zero_embeddings)}개 있습니다.")
else:
    print("0으로만 채워진 임베딩 벡터가 없습니다.")

(array([    8,    12,    16, ..., 13785, 13809, 13814], dtype=int64),)
0으로만 채워진 임베딩 벡터가 2763개 있습니다.
0으로만 채워진 임베딩 벡터가 없습니다.

In [2]:
data_path = 'data\ML25M\BPR_cv\BPR_ivec_0.npy'
items = np.load(data_path)
min_val = np.inf
max_val = -np.inf
for item in items:
    if min_val > min(item):
        min_val = min(item)

    if max_val < max(item):
        max_val = max(item)

print(len(items))

13816

In [66]:
import pandas as pd

train_path = 'data\ML25M\BPR_cv\BPR_tr_0.tsv'
vali_path = 'data\ML25M\BPR_cv\BPR_val_0.tsv'
test_path = 'data\ML25M\BPR_cv\BPR_test_0.tsv'
# Reload the cold_movies_vali_0.tsv file without the header
train_df = pd.read_csv(train_path, sep='\t', header=0)
vali_df = pd.read_csv(vali_path, sep='\t', header=0)
test_df = pd.read_csv(test_path, sep='\t', header=0)

# Check if all movie IDs in the filtered BPR_val_0.tsv exist in the cold_movies_vali_0.tsv
merged_df = pd.concat([train_df, vali_df, test_df])
print(merged_df.head())

# Sorting by user id
sorted_df = merged_df.sort_values(by='uid')
sorted_df.reset_index(drop=True, inplace=True)

sorted_df.head()

   uid   mid  rating
0    0   292     3.5
1    0   293     5.0
2    0   985     4.0
3    0  1054     3.5
4    0  1093     3.5

   uid   mid  rating
0    0   292     3.5
1    0  6808     4.0
2    0  6839     3.5
3    0  7039     4.0
4    0  7097     3.0

In [67]:
sorted_df.to_csv('data\ML25M\BPR_cv\BPR_all_0.tsv', sep='\t', index=False)

In [68]:
import pandas as pd

nonzero_path = 'data\ML25M\BPR_cv\BPR_all_0.tsv'
zero_path = 'data\ML25M\BPR_cv\cold_movies_rating_all_0.tsv'

# Reload the cold_movies_vali_0.tsv file without the header
df1 = pd.read_csv(nonzero_path, sep='\t', header=0)
df2 = pd.read_csv(zero_path, sep='\t', header=0)

# Check if all movie IDs in the filtered BPR_val_0.tsv exist in the cold_movies_vali_0.tsv
merged_df = pd.concat([df1, df2])
print(merged_df.head())

# Sorting by user id
sorted_df = merged_df.sort_values(by='uid')
sorted_df.reset_index(drop=True, inplace=True)

sorted_df.head()

   uid   mid  rating
0    0   292     3.5
1    0  6808     4.0
2    0  6839     3.5
3    0  7039     4.0
4    0  7097     3.0

   uid   mid  rating
0    0   292     3.5
1    0   985     4.0
2    0   293     5.0
3    0  6661     3.0
4    0  1134     3.5

In [3]:
sorted_df.to_csv('data\ML25M\BPR_cv\BPR_all_cold_all_0.tsv', sep='\t', index=False)

NameError: name 'sorted_df' is not defined

In [21]:
data_path = 'data\ML25M\BPR_cv\BPR_uvec_0.npy'
user = np.load(data_path)
len(user_embeddings)

(162540, 128)

In [125]:
cnt = 0
for idx in [5813, 6865, 7178, 9013, 8311, 9262, 6741, 6430, 5243, 6510, 3720, 6805, 7346, 4592, 3541, 459, 6976, 3503, 10005, 12891, 7547, 5567, 2777, 222, 5805, 10607, 4486, 6483, 10749, 5031]:
    if idx in mids:
#        print(idx)
        cnt += 1
print(cnt)

20

In [127]:
# Create a DataFrame
df = pd.read_csv('data\ML25M\BPR_cv\BPR_all_cold_all_0.tsv', sep='\t')

# Sort by 'uid' (keeping it as is) and 'rating' in descending order
df_sorted = df.sort_values(by=['uid', 'rating'], ascending=[True, False])

# Save the sorted DataFrame to a TSV file
df_sorted.to_csv('data\ML25M\BPR_cv\BPR_all_cold_all_0.tsv', sep='\t', index=False)

In [128]:
# Create a DataFrame
df = pd.read_csv('data\ML25M\BPR_cv\BPR_all_0.tsv', sep='\t')

# Sort by 'uid' (keeping it as is) and 'rating' in descending order
df_sorted = df.sort_values(by=['uid', 'rating'], ascending=[True, False])

# Save the sorted DataFrame to a TSV file
df_sorted.to_csv('data\ML25M\BPR_cv\BPR_all_0.tsv', sep='\t', index=False)

In [129]:
# Create a DataFrame
df = pd.read_csv('data\ML25M\BPR_cv\cold_movies_rating_all_0.tsv', sep='\t')

# Sort by 'uid' (keeping it as is) and 'rating' in descending order
df_sorted = df.sort_values(by=['uid', 'rating'], ascending=[True, False])

# Save the sorted DataFrame to a TSV file
df_sorted.to_csv('data\ML25M\BPR_cv\cold_movies_rating_all_0.tsv', sep='\t', index=False)

In [132]:
a = [[1,2,3,4], [12,13,4,5]]
a.size

AttributeError: 'list' object has no attribute 'size'

In [156]:
data_list = ['tr', 'val', 'test']
for seg in data_list:
    interaction = pd.read_csv(f'data\ML25M\BPR_cv\BPR_{seg}_0.tsv', sep='\t')
    users_idx = interaction['uid']
    items_idx = interaction['mid']
    print(f'## {seg} ##')
    print('interaction:',len(items_idx), 'unique-users:', len(users_idx.unique()), 'unique-items:', len(items_idx.unique()))
    print(f'max-user idx: {max(users_idx)} / max-item idx:{max(items_idx)}')

## tr ##
interaction: 11581912 unique-users: 162473 unique-items: 11053
max-user idx: 162539 / max-item idx:13815
## val ##
interaction: 1655248 unique-users: 154471 unique-items: 10979
max-user idx: 162539 / max-item idx:13815
## test ##
interaction: 3311465 unique-users: 161095 unique-items: 11049
max-user idx: 162539 / max-item idx:13815

In [7]:
data_list = ['vali', 'test']
for seg in data_list:
    interaction = pd.read_csv(f'data\ML25M\BPR_cv\cold_movies_rating_{seg}_0.tsv', sep='\t')
    users_idx = interaction['uid']
    items_idx = interaction['mid']
    print(f'## {seg} ##')
    print('interaction:',len(items_idx), 'unique-users:', len(users_idx.unique()), 'unique-items:', len(items_idx.unique()))
    print(f'max-user idx: {max(users_idx)} / max-item idx:{max(items_idx)}')

Index(['uid', 'mid', 'rating'], dtype='object')
## vali ##
interaction: 510530 unique-users: 53756 unique-items: 829
max-user idx: 162538 / max-item idx:13814
Index(['uid', 'mid', 'rating'], dtype='object')
## test ##
interaction: 3244323 unique-users: 160320 unique-items: 1934
max-user idx: 162539 / max-item idx:9741

In [10]:
import pandas as pd

nonzero_path = 'data\ML25M\BPR_cv\BPR_test_0.tsv'
zero_path = 'data\ML25M\BPR_cv\cold_movies_rating_all_0.tsv'

# Reload the cold_movies_vali_0.tsv file without the header
df1 = pd.read_csv(nonzero_path, sep='\t', header=0)
df2 = pd.read_csv(zero_path, sep='\t', header=0)

# Check if all movie IDs in the filtered BPR_val_0.tsv exist in the cold_movies_vali_0.tsv
merged_df = pd.concat([df1, df2])
print(merged_df.head())

# Sorting by user id
sorted_df = merged_df.sort_values(by=['uid', 'rating', 'uid'], ascending=[True, False, True])
sorted_df.reset_index(drop=True, inplace=True)

sorted_df.head()

   uid   mid  rating
0    0  1124     4.0
1    0  1472     4.0
2    0  2303     4.0
3    0  2407     5.0
4    0  3196     5.0

   uid   mid  rating
0    0  2407     5.0
1    0  3196     5.0
2    0  3885     5.0
3    0   618     5.0
4    0  5896     5.0

In [11]:
sorted_df.to_csv('data\ML25M\BPR_cv\BPR_test_cold_all_0.tsv', sep='\t', index=False)